@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-one bg-Blue-50 bg-no-repeat bg-[url('./assets/images/bg-top.svg')] bg-top-right md:bg-[url('./assets/images/bg-top.svg'),_url('./assets/images/bg-bottom.svg')] md:bg-[position:top_right,_bottom_left];
  }
}

@layer utilities {
  .bg-custom-gradient {
    @apply bg-gradient-to-r from-[hsl(237,73%,79%)] to-[hsl(238,63%,64%)];
  }
}

@theme {
  --color-Blue-50: hsl(240, 78%, 98%);
  --color-Gray-650: hsl(233, 13%, 49%);
  --color-Gray-700: hsl(232, 13%, 33%);
  --font-one: Montserrat;
}
